.container{
    max-width: 80%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
}

.container-logo{
    grid-column: span 2;
    display: flex;
    justify-content: center;
}

section{
    width: 550px;
    height: 320px;
    border: 2px solid #394150;
    border-radius: 25px;
    color: #394150;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-input{
    background-color: #212936cc;
}
.card-translate{
    background-color: #121826cc;
}

.bar-options{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #394150;
}

.text-to-translate{
    height: 150px;
    border: 0;
    background-color: transparent;
    font-size: 16px;
    color: #f9fafb;
    outline: none;
    resize: none;
}

@media screen and (max-width: 768px) {
    .container{
        grid-template-columns: 1fr;
    }
    .container-logo{
        grid-column: span 1;
    }
}

@media screen and (max-width: 980px) {
    .container{
        grid-template-columns: 1fr;
    }
    .container-logo{
        grid-column: span 1;
    }
}