:root{
  --dark: #040711;
  --gray: #394150;
  --light-gray01: #4D5562;
  --light-gray02: #212936cc;
  --dark-gray: #121826cc;
  --blue: #3662E3;
  --white: #F9FAFB;
  --light: #CDD5E0;
  --light-blue: #7CA9F3;
}

body{
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('assets/hero_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#root{
  width: 100%; 
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
}

*{
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
